body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dialog */
.Dialog__overlay {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.Dialog__content {
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  border-radius: 2px;
  width: 70%;
  width: 360px;
}

.Dialog__body {
  /* background: url(../image/background-blue.png); */
  padding: 20px;
  font-size: 15px;
  color: #4a4a4a;
  word-wrap: break-word;
  word-break: break-all;
  font-weight: 500;
  height: 400px;
}

.Dialog__footer {
  position: relative;
  line-height: 42px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  width: 100%;
  height: 40px;
}

.Dialog__footer:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #d5d5d6;
  color: #d5d5d6;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}

.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex: 1;
  border-left: 1px solid #d5d5d6 !important;
  font-size: 1rem;
  line-height: 30px;
  display: inline-block;
  height: 32px;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: #0179f1;
  border-radius: 3px;
  outline: 0;
  transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out,
    border-color 0.1s ease-out, color 0.1s ease-out;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-ok {
  font-weight: 500;
}

.btn:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn:first-child {
  border-bottom-left-radius: 2px;
  border-left: none !important;
}

.link {
  display: inline-block;
  margin-right: 5px;
  color: #000;
}
.group {
  position: relative;
}

input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}
/* .roles
{
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.roles:focus {
  outline: none;
} */
label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -15px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
/* vuetifyjs выпадающий список */
.v-menu__content {
  min-width: 150px !important;
  top: 0 !important;
  left: 220px !important;
}
